/* Styling for main table*/
#cost {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  width: 100%;
}

#cost td, #cost th {
  border: 1px solid #ddd;
  padding: 8px;
}



#cost th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0779be;
  color: white;
