#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    z-index: 11;
}

#header .navbar {
    border-bottom: 1px solid #cacbc6;
    padding: 0rem 1rem !important;
}

.bg-white {
    background-color: #fff!important;
}

#header .navbar .nav-left {
    width: 214px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #cacbc6;
}

#header .navbar .nav-left .navbar-brand {
    padding: 0 !important;
    width: 168px;
    margin-right: 0;
}
#header .navbar .nav-left .navbar-brand img {
    height: 50px;
}

#header .navbar .username {
    color: #0779be !important;
    font-size: 1rem;
    font-weight: 300;
}
#header .nav-link {
    color: #1b2e4b !important;
    padding: 0.75rem 0.35rem !important;
    line-height: 25px;
}

#header .dropdown-menu-arrow {
    top: -25px;
    left: 50%;
    width: 0;
    height: 0;
    position: relative;
}

#header .power-icon {
    font-size: 25px;
    vertical-align: middle;
    color: #0779be !important;
}
#sidenav{
    top: 50px;
    margin-left: -230px;
    left: 230px;
    width: 230px;
    position: fixed;
    background-color: #ffffff;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform 0.9s ease-in-out;
}

#sidenav #sidebar-wrapper {
    min-height: 100%;
    margin-left: 0px;
    transition: margin 0.25s ease-out;
}

#sidenav #sidebar-wrapper .main-sidebar {
    width: 230px;
    z-index: 810;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

#sidenav #sidebar-wrapper .main-sidebar .sidebar {
    width: 100%;
    padding: 10px 0;
}

#sidenav #sidebar-wrapper .main-sidebar .sidebar .nav-menu {
    text-transform: uppercase;
    color: #1b2e4b;
    font-size: 13px;
    font-weight: 400;
}
#sidenav #sidebar-wrapper .main-sidebar .sidebar .nav-link {
    color: #1b2e4b !important;
}
#sidenav #sidebar-wrapper .main-sidebar .sidebar .nav-link.active {
    color: #f58320 !important;
}

#sidenav #sidebar-wrapper .main-sidebar .sidebar .copyright {
    position: fixed;
    bottom: 0px;
    font-size: 12px;
    width: 230px;
    text-align: center;
    padding: 15px 0;
}

#page-content-wrapper {
    background-color: #f7faff;
    margin-left: 230px;
    padding: 30px;
    padding-top: 92px;
    width: auto !important;
    min-height: 100vh;
}

.title {
    font-weight: 300;
    display: inline-block;
    color: #0779be;
}

.content {
    padding: 20px;
    background: #ffffff;
    margin-bottom: 30px;
    border-radius: 4px;
}

.form-control {
    background-color: #F7FAFF !important;
    border-radius: 4px;
    border: 1px solid #cacbc6;
}
.inputborder {
    border-left: 3px solid #EE1C25 !important;
}
thead {
    background-color: #d0dce8;
    color: #0779be;
    text-transform: capitalize;
}
table.dataTable thead th {
    border-bottom: 0px;
    padding: 8px 10px;
    vertical-align: top;
    font-weight: 500;
}

#healthCareDatatable {
    table-layout: fixed;
    border: 1px solid #cacbc6;
}

table.dataTable tbody td{
    border-top: 1px solid #cacbc6;
    padding: 8px 10px;
    word-break: break-all;
}

.finance-query-btn {
    margin-top: 32px;
}


#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}